# Copyright (c) 2022 MXCHIP Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# Author: Snow Yang (snowyang.iot@outlook.com)
# date  : {{date}}

mxos_library()

mxos_library_sources(
    main.c
)

mxos_include_directories(
    .
)
